<div class="hero">
    <div class="circle">
        <div class="circle-blr"></div>
    </div>
    <div class="hero__wrapper">
        <img src="../../../assets/net.svg" />
        <div>
            <h1 class="intro-header">Hey!, I’am</h1>
            <h1 class="intro-main">Full Stack Web Developer</h1>
            <p class="intro-desc">Experienced t in software engineering, DevOps and database administration for a wide
                range of clients and
                projects. </p>
            <div class="intro-link"> <a href="/contact">
                    <p>Contact Me</p>
                    <img src="../../../assets/solar_arrow-right-outline.svg" alt="">
                </a></div>

        </div>
    </div>
    <div class="move">
        <div class="container">
            <div class="indic"></div>
        </div>
    </div>
</div>