<div class="hero">
    <div class="circle">
        <div class="circle-blr"></div>
    </div>
    <div class="hero__wrapper">
        <img class='net' src="../../../assets/net.svg" />
        <div>
            <h1 class="intro-header">Hey!, I’am</h1>
            <h1 class="intro-main">Full Stack Web Developer</h1>
            <p class="intro-desc">Hey there! I'm John Doe, a creative and detail-oriented full-stack developer on a
                mission to craft seamless digital experiences. With a keen eye for innovation and a love for coding, I
                bring ideas to life in the digital realm. </p>
            <div class="intro-link"> <a href="/contact">
                    <p>Contact Me</p>
                    <img src="../../../assets/solar_arrow-right-outline.svg" alt="">
                </a></div>

        </div>
    </div>
    <div class="move">

        <a href="#services" class="container">
            <div class="indic"></div>
        </a>
    </div>
</div>
