<div class="services">
    <div class="circle-blur">
        <div class="circle"></div>
    </div>
    <div class="services__wrapper">
        <div class="services-header">
            <h1 class="services-header__main" data-aos="fade-up">Services I can help you with</h1>
            <p class="services-header__desc" data-aos="fade-up">As a versatile full-stack developer, I offer a range of
                services to bring
                your digital projects to life.
            </p>
        </div>
        <div class="services-container grid">
            <div class="services-card" data-aos="fade-up">
                <div>
                    <img class="services-icon" src="../../../assets/iconoir_design-nib.svg" alt="">
                    <h1>Ui Design</h1>
                    <p class="card-desc">Crafting visually appealing and user-friendly interfaces that enhance the
                        overall
                        user experience.
                    </p>
                    <a href='/' class="read-more">
                        <p>Read More</p>
                        <img src="../../../assets/solar_arrow-right-outline.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="services-card" data-aos="fade-up" data-aos-delay="200">
                <div>
                    <img class="services-icon" src="../../../assets/fluent-mdl2_front-camera.svg" alt="">
                    <h1>Fronten Dev.</h1>
                    <p class="card-desc">Implementing dynamic and responsive front-end solutions using the latest web
                        technologies and frameworks.
                    </p>
                    <a href='/' class="read-more">
                        <p>Read More</p>
                        <img src="../../../assets/solar_arrow-right-outline.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="services-card" data-aos="fade-up" data-aos-delay="400">
                <div>
                    <img class="services-icon" src="../../../assets/cib_strapi.svg" alt="">
                    <h1>Backend Dev.</h1>
                    <p class="card-desc">Building robust server-side applications and databases to ensure the
                        functionality and performance of your web applications.
                    </p>
                    <a href='/' class="read-more">
                        <p>Read More</p>
                        <img src="../../../assets/solar_arrow-right-outline.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="service-p">With a keen eye for design aesthetics and a passion for coding excellence, I am dedicated to
        delivering solutions
        that not only meet but exceed your expectations. Let's collaborate to turn your ideas into reality.</p>
</div>