<div class="projects">
    <div class="projects__wrapper">
        <div class="projects-header">
            <div class="overlay"></div>
            <!-- <img src="../../assets/projectsImage.png" alt=""> -->
            <h1>My Projects</h1>
        </div>

        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto quasi pariatur, ipsa veniam atque rerum
            itaque doloremque eum cupiditate aut unde ipsum doloribus illum assumenda nemo. Quam, atque laborum
            molestiae sapiente, reprehenderit, earum mollitia quaerat inventore repellat ut voluptate odit. Aut debitis
            voluptate deserunt facilis ad quae ipsum blanditiis?
        </div>
    </div>
</div>