<div class="projects">
    <div class="projects__wrapper">
        <div class="projects-header">
            <div class="overlay"></div>
            <!-- <img src="../../assets/projectsImage.png" alt=""> -->
            <h1>My Projects</h1>
        </div>

        <div class="projects-container">
            <div class="projects-main">
                <img src="../../assets/ImageOne.png" alt="">
                <div class="projects-container-details">
                    <h1 class="projects-head">FitVibePlus</h1>
                    <p class="projects-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nisisint
                        dolor
                        fugiat consequatur, amet
                        ut aperiam mollitia nequrepellendus.</p>
                    <ul>
                        <li>Ui Design</li>
                        <li>Web</li>
                    </ul>
                    <a href="">View Full Project</a>
                </div>
            </div>
            <div class="projects-main">
                <img src="../../assets/ImageOne.png" alt="">
                <div class="projects-container-details">
                    <h1 class="projects-head">FitVibePlus</h1>
                    <p class="projects-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nisisint
                        dolor
                        fugiat consequatur, amet
                        ut aperiam mollitia nequrepellendus.</p>
                    <ul>
                        <li>Ui Design</li>
                        <li>Web</li>
                    </ul>
                    <a href="">View Full Project</a>
                </div>
            </div>
        </div>
    </div>
</div>