<div class="header">
  <div class="header__wrapper flex">
    <h1 class="header-logo">John Ossai</h1>
    <nav [ngClass]="{'open':menuStateService.isMenuOpen}">
      <svg (click)="toggle(false)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="close">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>

      <ul>
        <li *ngFor="let item of navigations">
          <a [href]="item.path">{{item.navTag}}</a>
        </li>
      </ul>
    </nav>
    <svg (click)="toggle(true)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="menu">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
    </svg>


  </div>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer__wrapper">
    <a target="_blank" href="mailto:johnossai@gmail.com"><img src="../assets/sm/entypo_email.svg" alt=""></a>

    <a target="_blank" href="/">
      <img src="../assets/sm/mingcute_twitter-line.svg" alt="">
    </a>
    <a target="_blank" href="https://github.com/JohnnnGreat"> <img src="../assets/sm/ri_github-line.svg" alt=""></a>
    <a href="/"> <img src="../assets/sm/ri_linkedin-fill.svg" alt=""></a>

  </div>
</footer>