<div class="clients">
    <div class="clients__wrapper">
        <h1 class="clients-header">What Clients are Saying</h1>

        <div class="clients-container">
            <div class="clients-card">
                <p>I had the pleasure of collaborating with John on a challenging web development project,
                    and I can confidently say that their skills as a full-stack developer are exceptional. [He/She]
                    consistently demonstrated a deep understanding of both frontend and backend technologies, bringing a
                    level of expertise that significantly contributed to the project's success.</p>
                <div>
                    <img src="../../../assets/Avatar.jpg" alt="">
                    <h2>Confidence Okaka</h2>
                </div>
            </div>
            <div class="clients-card">
                <p>I had the pleasure of collaborating with John on a challenging web development project,
                    and I can confidently say that their skills as a full-stack developer are exceptional. [He/She]
                    consistently demonstrated a deep understanding of both frontend and backend technologies, bringing a
                    level of expertise that significantly contributed to the project's success.</p>
                <div>
                    <img src="../../../assets/Avatar.jpg" alt="">
                    <h2>Confidence Okaka</h2>
                </div>
            </div>
        </div>
    </div>
</div>