<div class="about">
    <div class="about__wrapper">
        <div>
            <h1 class="about-header">A brief about me</h1>
            <p>Greetings! I'm [Your Full Name], a passionate and detail-oriented full-stack developer driven by a love
                for crafting digital solutions. With a blend of creativity and technical expertise, I embark on a
                journey to bring ideas to life through clean and efficient code.</p>

            <div class="about-content">
                <h1 class="content-header">
                    My Approach
                </h1>
                <p>I believe in the power of technology to transform and elevate user experiences. Each line of code I
                    write is a commitment to excellence, whether it's designing an intuitive user interface or
                    architecting a robust backend system. My goal is to create digital experiences that not only meet
                    the needs of users but exceed expectations.</p>
            </div>
            <div class="about-content">
                <h1 class="content-header">
                    What Sets Me Apart:
                </h1>
                <p>I thrive on challenges and see each project as an opportunity to learn and grow. My curiosity drives
                    me to stay at the forefront of technological advancements, ensuring that the solutions I provide are
                    not only current but also forward-thinking. I'm not just a coder; I'm a problem solver who enjoys
                    the intricacies of turning complex ideas into elegant, functional solutions.</p>
            </div>
        </div>
        <img src="../../../assets/About.png" alt="">
    </div>
</div>